<h4>REGISTRATION FORM</h4>

    <form>
      <label>First name:<input type ="text"  name="firstname" placeholder="Firstname" required></label>

      <label>Last Name:<input type="text" name="lastname"placeholder="lastname"required></label>
      <br>
      <label>Male:<input type="radio" name="gender"  value="male"></label>
      <label>Female:<input type="radio" name="gender" value="female"></label>
      <label>Other:<input type="radio" name="other"   value="other"></label>
      <br>
      <label> Email:<input type="text" name="email" placeholder="email"></label>
      <label>Password:<input type="password" name="password" placeholder="Enter your password "pattern =".{5,10}" required title="please enter the password length of 5 to 10"></label>
      <br>

      <label for=""> Date of birth :></label>
      <select id="birthday" name="month">
        <option>month</option>
        <option>jan</option>
        <option>feb</option>
        <option>march</option>
        <option>april</option>
        <option>may</option>

        </select>
        <select id="birthday" name="Day">
        <option>Day</option>
        <option>01</option>
        <option>02</option>
        <option>03</option>
        <option>04</option>
        <option>05</option>
          


</select>

</select>
        <select id="birthday" name="Year">
        <option>Year</option>
        <option>1999</option>
        <option>2000</option>
        <option>2001</option>
        <option>2002</option>
        <option>2003</option>
          
</select>
<br>
<label> I:agree to all term and conditions <input type="checkbox" name="check"></label>
<label><input type="submit" name="submit">
</label>
 
</form>

    </form> 
